
		<h1>Hello Usmann, Please Help!</h1>
		<select class="form-control">
		  <option>Select a College</option>
		  <option>Harvard</option>
		  <option>Stanford</option>
		  <option>UCLA</option>
		  <option>MIT</option>
		  <option>Cal Tech</option>
		  <option>Princeton</option>
		  <option>Yale</option>
		  <option>Columbia</option>
		  <option>Cornell</option>
		  <option>University of Chicago</option>
		  <option>University of Pennsylvania</option>
		  <option>Amherst College</option>
		  <option>Williams College</option>
		  <option>Northwestern University</option>
		  <option>Boston College</option>
		  <option>Boston University</option>
		  <option>Rice University</option>
		  <option>John's Hopkins Universtiy</option>
		  <option>Dartmouth University</option>
		  <option>Brown College</option>
		  <option>Duke University</option>
		</select>
		<button class="btn btn-default" type="submit">Go!</button>
		<p>bzheoooom</p>
	